/* 主要功能包含：下拉式選單、顯示搜尋結果 */

/* 主要標示 */
.searchArea {
    /* border: 1px solid green; */
    display: block;
    margin-bottom: 64px;
}

.searchArea > div {
    /* border: 1px solid saddlebrown; */
}


/* 下拉式選單 */
/* 之後可能會需要配合 js 檔案產生選項 */
.searchDroplist {
    margin-top: 60px;
}

/* 下拉式選單：直接調整套在 select 外的容器 */
/* https://www.geeksforgeeks.org/how-to-style-a-dropdown-using-css/ */
.searchList {
    appearance: none; /* 移除原本外觀 */
    width: 395px;
    height: 60px;
    border: 3px solid #000;
    border-radius: 10px;
    font-size: 18px;
    line-height: 22px;
    color: #5C5C5C;
    padding-left: 45px;
    /* 修改下拉式選單箭頭樣式 */
    background: src("./src/img/droplistArrow") no-repeat right center transparent;
}

.searchList::after {
    content: '\25BC';
    background:#2C655B;
    position: absolute;
    top: 0;
    right: 0;
    
}

select option {
    /* border: 1px solid saddlebrown; */
}


/* 資料顯示部分 */
/* 定位 */
.resultContainer {
    width: 554px;
    margin-top: 60px;
}

.infoBox {
    /* border: 1px solid saddlebrown; */
}

.moreInfoBox {
    border: 1px solid #000000;
    background: #ffffff;
    border-radius: 10px;
    margin-top: 45px;
    display: block;
    position: relative;
}

/* 顯示學名、物種名稱、層級與別名 */
.itailicName {
    /* 範例： Litsea cubeba */
    font-size: 24px;
    line-height: 29px;
    color: #489688;
    font-weight: lighter;
    font-style: italic;

}
.speciesName {
    /* 範例：山胡椒 */
    font-size: 48px;
    line-height: 58px;
    color: #2C655B;
    font-weight: bold;
}

.nameDiv {
    /* border: 1px solid green; */
    position: relative;
}

.nameDiv::after {
    position: absolute;
    content: '';
    top: 98px;
    left: 0px;
    width: 393px;
    border: 1px solid #5C5C5C;
    text-align: center;
}

.tagsDiv {
    /* border: 1px solid saddlebrown; */
    margin-top: 28px;
}

.tags {
    background: #188216;
    border-radius: 37.5px;
    width: 131px;
    height: 37px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.classDiv {
    /* border: 1px solid salmon; */
    margin-top: 24px;
}

.classDiv p:first-child {
    /* border: 1px solid red; */
    margin-bottom: 15px;
}

.classDiv p {
    font-size: 20px;
    line-height: 1.2em;
}

/* 更多資訊的部分 */
.moreInfoBtn {
    background: #ffffff;
    width: 48px;
    height: 48px;
    border: 1px solid #000000;
    border-radius: 26px;
    position: relative;
}

.moreInfoBtn {
    /* 展開、收合按鈕定位 */
    position: absolute;
    top: -20px;
    right: -24px;
}

.moreInfoBtn img {
    position: relative;
    /* 以下定位為 btn-extend */
    /* left: 10px;
    top: 20px; */
    /* 以下定位為 btn-close */
    left: 10px;
    top: 16px;
}
    
/* 常態固定的部分 */
.fixedPart {
    /* border: 1px solid sandybrown; */
    display: flex;
    flex-direction: row;
    width: 440px;
    margin: 25px 75px 25px 33px;
    
}

.fixedPart img {
    /* border: 1px solid sandybrown; */
    width: 120px;
    height: 120px;
    border-radius: 27px;
    margin-right: 24px;
}

.fixedPart div {
    /* border: 1px solid sandybrown; */
    font-size: 20px;
    line-height: 1.2em;
    width: 300px;

}

.fixedPart div > p:first-child{
   /* border: 1px solid red; */
   margin: 10px 0px;
}

/* 展開部分 */
.extendablePart {
    /* border: 1px solid red; */
    margin: 34px 24px 40px 40px;
    font-size: 20px;
    line-height: 1.2em;
}

.extendablePart div {
    /* border: 1px solid blue; */
    padding-bottom: 20px;
    display: inline-block;
    display: flex;
    align-items: flex-start;
}


.extendablePart div:last-child {
    padding-bottom: 0px;
}

.extendablePart div p:first-child {
    /* border: 1px solid blue; */
    /* margin-right: 8px; */
    width: 15%;
    display: inline-block;

}

.extendablePart div p:last-child {
    /* border: 1px solid blue; */
    width:80%;
    display: inline-block;
}

/* 控制 btn 圖示部分 */
.btn-extend {
    display: none;
}

.btn-close {
    display: display;
}